* {
    box-sizing: border-box;
}

.add-book-btn {
    cursor: pointer;
}

.add-book-form {
    display: none;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 15px;
    height: 300px;
    gap: 15px;
}

input {
    padding: 15px;
}

.submit {
    cursor: pointer;
}